body {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: Arial, sans-serif;
    
}

.container {
    padding: 20px;
    background: linear-gradient(135deg,#4203a9,#90bafc);
    color: #fff;
    width: 100%;
    min-height: 100vh;
    position: fixed;
}

h1 {
    font-size: 40px;
    color: white;
}

.note-form {
    margin-top: 20px;
}

textarea {
    width: 50%;
    height: 100px;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #3c74af;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 7px;
}

.notes-list {
    padding-top: 10px;
    text-align: left;
}

.note {
    background-color: #f2f2f2;
    color: black;
    font-weight: 700;
    padding: 10px;
    margin-bottom: 10px;
    width: 50%;
    border-radius: 8px;
    border: 1px solid #ddd;
}
.note p{
    margin-top: -5px;
    margin-bottom: 5px;
}
